<div class="widget-content">
    <div class="githubaccount-box-wrapper">
        {% for gitHubAccount in gitHubAccounts %}
            {{ _self.render_contact_box(gitHubAccount, false) }}
        {% else %}
            <p>{{ "orocrm.partner.githubaccount.no_githubaccounts_exist"|trans }}</p>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    require(['orocrm/partner/widgets/github-accounts-widget'], function(GitHubAccountsWidget){
        GitHubAccountsWidget.init();
    });
</script>
{% macro render_contact_box(gitHubAccount) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroEmailBundle::actions.html.twig' as EmailActions %}
    <div class="githubaccount-box">
        <div class="githubaccount-box-row">
            <a class="githubaccount-box-link githubaccount-box-username-link"
               href="https://github.com/{{ gitHubAccount.username }}"
               title="{{ "orocrm.partner.githubaccount.open_on_github"|trans }}"
               target="_blank">
                {{ gitHubAccount.username }}
            </a>
        </div>
        <div class="githubaccount-box-row">
            <span>{{ "orocrm.partner.githubaccount.name.label"|trans }}:</span>
            {% if gitHubAccount.name %}
                {{ gitHubAccount.name }}
            {% else %}
                {{ 'N/A'|trans }}
            {% endif %}
        </div>
        <div class="githubaccount-box-row">
            <span>{{ "orocrm.account.email.label"|trans }}:</span>
            {% if gitHubAccount.email %}
                {{ EmailActions.sendEmailLink(gitHubAccount.email, gitHubAccount, {'aCss': 'githubaccount-box-link'}) }}
            {% else %}
                {{ 'N/A'|trans }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
