{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('webinar.ticket.form.event_name.label'|trans, entity.eventName) }}


            {{ ui.renderHtmlProperty('webinar.ticket.form.description.label'|trans, entity.description) }}
            {{ ui.renderProperty('webinar.ticket.form.seat_num.label'|trans, entity.seatNum) }}

            {# for extended entities #}
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>

        <div class="responsive-block">
            {{ ui.renderProperty('webinar.ticket.form.event_date.label'|trans, entity.eventDate ? entity.eventDate|oro_format_datetime : 'N/A') }}
        </div>
    </div>
</div>
